<h1>Welcome To The Raven Desk</h1>
<div style="text-align: center; padding: 75px; margin-bottom: 75px;">
    <img src="@Url.Content("~/Content/images/raven_logo.png")"/>
</div>

<h2 style="text-align: right">An Exploration of Raven DB</h2>