<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TeamMgmtCal.Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="MainDB" connectionString="http://localhost:17702" />
  </connectionStrings>
  <applicationSettings>
    <TeamMgmtCal.Core.Properties.Settings>
      <setting name="SiteURL" serializeAs="String">
        <value>http://teamcal.maintech1.com</value>
      </setting>
      <setting name="SMTPServer" serializeAs="String">
        <value>sptpgw.maintech1.com</value>
      </setting>
      <setting name="SMTPPort" serializeAs="String">
        <value>25</value>
      </setting>
    </TeamMgmtCal.Core.Properties.Settings>
  </applicationSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="Data Source=.\SQLEXPRESS; Integrated Security=True; MultipleActiveResultSets=True" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>