@{Layout = null;}

<div class="left-nav">
    <div class="well left-nav-link" data-link="Authors">
        <img src="@Url.Content("~/Content/images/authors_icon.png")"  />
        <div class="link-title">Authors</div>
    </div>
    <div class="well left-nav-link" data-link="Books">
        <img src="@Url.Content("~/Content/images/books_icon.png")"  />
        <div class="link-title">Books</div>
    </div>
    <div class="well left-nav-link" data-link="Authors">
        <img src="@Url.Content("~/Content/images/characters_icon.png")"  />
        <div class="link-title">Characters</div>
    </div>
</div>

