@{Layout = null;}

<script type="text/javascript">
    $(function () {
        $(".left-nav-link").click(function() {
            Wait(true);
            var controller = $(this).attr("data-RavenDesk-link");
            window.location.href = '@Url.Content("~/")' + controller;
        });
    });
</script>

<div class="left-nav">
    <div class="well left-nav-link" data-RavenDesk-link="Authors">
        <img src="@Url.Content("~/Content/images/authors_icon.png")"  />
        <div class="link-title">Authors</div>
    </div>
    <div class="well left-nav-link" data-RavenDesk-link="Books">
        <img src="@Url.Content("~/Content/images/books_icon.png")"  />
        <div class="link-title">Books</div>
    </div>
    <div class="well left-nav-link" data-RavenDesk-link="Characters">
        <img src="@Url.Content("~/Content/images/characters_icon.png")"  />
        <div class="link-title">Characters</div>
    </div>
</div>

