body {
    padding: 5px;
}

.loader {
    position: absolute;
    text-align: center;
    z-index: 9000;
    display: none;
    overflow: hidden;
    cursor: wait;
    width: 100%;
    background: #000;
    top: 0px;
    left: 0px;
    opacity: 0.75;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=75)";
    filter: alpha(opacity=75);
    zoom: 1;
}

    .loader img {
        margin-top: 350px;
        margin-left: 200px;
    }

#main-window {
    width: 800px;
    margin: auto;
}

#main-content-wrapper {
    height: 475px;
}

.well {
    background: #c9c9c9;
}

footer {
    text-align: right;
}

/* -- LEFTNAV -- */

.left-nav .left-nav-link {
    cursor: pointer;
}

    .left-nav .left-nav-link:hover {
        background: #c5a5a5;
    }

.left-nav .link-title {
    text-align: right;
    font-size: 1.1em;
    font-weight: bold;
}

/* -- DATAGRID -- */

.datagrid-wrapper {
    height: 310px;
}

.datagrid {
    clear: both;
    border: 1px solid #c9c9c9;
    width: 100%;
}

    .datagrid tr {
        height: 25px;
    }

    .datagrid td {
        padding: 2px;
    }

    .datagrid .header_row td, .datagrid .header_field {
        font-weight: bold;
        text-align: center;
        border-bottom: 1px solid #000;
        white-space: nowrap;
        padding: 5px;
        background: #c9c9c9;
        font-size: 1.1em;
    }

    .datagrid .data-row {
        background: #fff;
    }

        .datagrid .data-row:nth-child(even) {
            background: #e4e4e4;
        }

        .datagrid .data-row td {
            border-left: 1px solid #c9c9c9;
            border-right: 1px solid #c9c9c9;
        }


    .datagrid .hoverable {
        cursor: pointer;
    }

        .datagrid .hoverable:hover, .datagrid .current {
            background-color: #949494;
            color: #fff;
        }

    .datagrid .inactive, .datagrid .inactive:nth-child(even) {
        background: #3d4462;
        color: #c9c9c9;
    }


.pager {
    text-align: right;
    padding-right: 10px;
    height: 25px;
    background: #FFF;
}

    .pager .previous {
        cursor: pointer;
        width: 15px;
        height: 20px;
        background: url('images/pagers.jpg') no-repeat left;
        display: inline-block;
        position: relative;
        top: 5px;
    }

    .pager .next {
        cursor: pointer;
        width: 15px;
        height: 20px;
        background: url('images/pagers.jpg') no-repeat right;
        display: inline-block;
        position: relative;
        top: 5px;
    }

/* -- POPUP -- */
.ui-dialog {
    background-clip: padding-box;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    padding-top: 0px;
}

    .ui-dialog .ui-dialog-titlebar {
        background-color: #000;
        background-image: none;
        margin: 0 -5px 0 -5px;
        color: #fff;
        padding-bottom: 15px;
        font-size: 1.05em;
    }

    .ui-dialog .ui-dialog-content {
        background-color: #FFFFFF;
        color: #000;
        margin: -5px;
    }

    .ui-dialog .ui-dialog-body {
        padding: 5px;
        min-height: 100px;
        margin-bottom: 10px;
    }

    .ui-dialog .ui-dialog-footer {
        text-align: right;
    }


/*-- FORMS --*/
.field-validation-error {
    display: block;
    font-weight: bold;
    color: red;
    font-size: 0.75em;
}

    .field-validation-error:before {
        content: '*';
    }

.validation-summary-errors {
    font-weight: bold;
    font-size: 0.75em;
    background-color: #F2DEDE;
    border-color: #EED3D7;
    color: #B94A48;
    border-radius: 4px 4px 4px 4px;
    padding: 8px 35px 8px 14px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    margin-bottom: 15px;
}